node_modules
allure*
screen*
*.env
jsdoc.config.json
reports
.allure/history.jsonl
.prettierignore
.vscode
qwen.md
.qwen/
.gitignore
_results_
.idea/
/.env.keys
test_project.rar
README.md
.continue/
package-lock.json
*.bak
