node_modules
allure*
screen*
*.env*
reports
.vscode
.idea/
*.bak
jsdoc.config.json
gha-creds-*.json
rag/
.roo/
.roomodes
docs/rag-usage.md
.rooignore
.github/workflows/qwen*
rag-usage.md
/.aiignore
qodana.yaml
.venv/
.qwen/
.ai*
*aider*
.zed
